<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song listing DeltaX Task</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#"><strong>DeltaX Music List</strong> </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Songs</a>
            <a class="nav-link" href="#">Artists</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-2">
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-outline-primary"
          >
            Top 10 Songs
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-outline-primary"
          >
            Top 10 Artists
          </button>
        </div>
        <div class="col-2 ms-auto">
          <a href="/add_song" class="btn btn-primary"><i class="fa-regular fa-square-plus"></i> Add song</a>
        </div>
      </div>
    </div>

    <section class="mt-2" style="background-color: rgb(243, 244, 245)">
      <div class="container">
        <h2>Top 10 Songs</h2>
      </div>
      <div class="container-fluid">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Artwork</th>
              <th>Song</th>
              <th>Date release</th>
              <th>Artists</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="mt-2">
      <div class="container">
        <h2>Top 10 Artists</h2>
      </div>
      <div class="container-fluid">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Artwork</th>
              <th>Song</th>
              <th>Date release</th>
              <th>Artists</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <script></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
